* {
  margin: 0;
}

.app {
  background-color: #111;
}
.footer {
  background-color: #111;
  padding-top: 1.5rem;
  padding-bottom: 1.7rem;
  grid-column: 1 / 13;
  text-align: center;
}
.footer__copyright {
  color: #fff;
  font-size: 1.0rem;
}
.footer__copyright--link {
  text-decoration: none;
  color: #f80616de;
  transition: all .3s;
}